.o-base {
  max-width: $base-width;
  margin: 0 auto;
}

.o-container {
  max-width: $container-width;
  margin: 0 auto;
}

.o-btn-container {
  margin: 20px 0;
}

.o-section {
  padding: 20px 0 30px;
}
