// Edition component
// All styles.
// ------------------
.c-edition__preview {
  @include rectangle(433px, 120px);
  display: block;
  max-width: 100%;
  padding: 0;
  border: $border;
  border-width: 0 0 1px;
  overflow: hidden;

  @include min-screen($tablet) {
    @include rectangle(433px, 160px);
  }

  @include min-screen($desktop) {
    @include rectangle(433px, 200px);
    display: inline-block;
    margin-bottom: -4px;
    border-width: 0 0 0 1px;
  }
}

.c-edition__preview--static {
  border: $border;

  @include min-screen($tablet) {
    margin: 0 auto;
  }

  & + & {
    margin-top: 20px;
  }
}

.c-edition__preview-container {
  position: relative;
  height: 100%;
  padding: 110px 0 0;
  background: {
    size: 100%;
    repeat: no-repeat;
    position: center;
  }
  text-align: center;

  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.c-edition__preview-title {
  bottom: 30px;
  margin: 0;
  font-size: 20px;
  pointer-events: none;
  z-index: 2;

  @include min-screen($desktop) {
    bottom: 30px;
    margin: 10px 0;
    font-size: 26px;
  }
}

.c-edition__preview-city {
  bottom: 15px;
  margin: 0;
  color: $color-tertiary;
  font-size: 10px;
  font-weight: 700;
  pointer-events: none;
  z-index: 2;

  @include min-screen($desktop) {
    bottom: 20px;
    font-size: 12px;
  }
}

.c-edition__top {
  padding: 25px 0;
  background: {
    image: url('../images/edition_menu_bg.png');
    size: cover;
    repeat: no-repeat;
  }
}

.c-edition__top-menu {
  li + li {
    margin-left: 10px;
  }
}

.c-edition__title {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;

  @include min-screen($desktop) {
    margin-right: 5px;
    font-size: 26px;
  }
}

.c-edition__switch {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  vertical-align: middle;

  @include min-screen($desktop) {
    font-size: 14px;
  }
}

.c-edition__date {
  color: $color-tertiary;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;

  @include min-screen($desktop) {
    margin-top: 5px;
    font-size: 12px;
  }
}

.c-edition__gallery-intro {
  display: inline-block;
  position: relative;
  margin: 20px auto;
  border: $border;
  cursor: pointer;
  overflow: hidden;

  .c-btn {
    @include center-align();
  }
}

.s-edition__content {
  padding: 1px 0;

  p {
    @include paragraph();

    @include min-screen($desktop) {
      margin: 28px 0;
    }
  }
}

.c-edition__carousel {
  position: relative;
  overflow: hidden;
}

.c-edition__carousel-btn {
  $bg-color: #4c4c4c;
  @include rectangle(32px, 160px);
  display: none;
  position: absolute;
  top: 0;
  transition: opacity 300ms ease-in;
  background-color: rgba($bg-color, .6);
  cursor: pointer;
  opacity: 0;
  z-index: 5;

  @include min-screen($desktop) {
    @include rectangle(32px, 200px);
    display: block;
  }

  &.is-visible {
    opacity: 1;
  }

  &.prev {
    left: 0;

    span {
      background-image: url('../images/arrow-left.svg');
    }
  }

  &.next {
    right: 0;

    span {
      background-image: url('../images/arrow-right.svg');
    }
  }

  span {
    @include center-align();
    @include square(16px);
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
    }
  }
}
