// Edition component
// All styles.
// ------------------
.c-edition__preview {
  padding: 0;

  &:first-child {
    padding-left: 7px;
  }

  &:last-child {
    padding-right: 7px;
  }

  & + & {
    border-left: $border;
  }
}

.c-edition__preview-container {
  height: 200px;
  padding: 110px 0 0;
  background: {
    size: cover;
    repeat: no-repeat;
  }
  text-align: center;
}

.c-edition__preview-title {
  margin: 0;
  @include min-screen($desktop) {
    margin: 10px 0;
    font-size: 26px;
  }
}

.c-edition__preview-city {
  margin: 0;
  color: #D6D6D6;
  font-weight: 700;

  @include min-screen($desktop) {
    font-size: 12px;
  }
}
