// Images
// -------
.c-image-hover {
  transition: transform $img-animation;

  @include min-screen($desktop) {
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.c-gallery__item {
  @include square(125px);
  display: inline-block;
  margin: 10px;
  border: 3px solid $white;
  border-radius: 4px;
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

.c-gallery__img {
  display: none;
}
