// News styles
// ------------
.c-section-news {
  background: {
    image: url('../images/news_bg.png');
    repeat: no-repeat;
    size: cover;
  }

  @include min-screen($desktop) {
    border-top: $border;
  }
}
