*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  background-color: $black;
  color: $white;
  font-family: $global-font-family;
  font-size: $base-font-size;
  font-weight: 300;
}

img {
  max-width: 100%;
  margin-bottom: -5px;

  @include min-screen($desktop) {
    margin-bottom: -4px;
  }
}

a {
  color: $white;
  text-decoration: none;
}
