// Footer component
// -----------------
.c-footer {
  padding: 15px 0;
  border-top: $border;
  background-color: $color-secondary;
  text-align: center;

  @include min-screen($desktop) {
    text-align: left;
  }
}

.c-footer__menu {
  margin: 20px 0;
  padding: 0;

  @include min-screen($desktop) {
    margin: 0;
  }
}

.c-footer__menu-item {
  color: $white;

  @include min-screen($desktop) {
    &:last-child {
      .c-footer__menu-link {
        padding-right: 0;
      }
    }
  }
}

.c-footer__menu-link {
  display: block;
  padding: 0 25px;
  color: $white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.c-footer__logo {
  height: 25px;
  margin-bottom: 1px;
}

.c-footer__copy {
  margin: 0;
}
